$primaryColor: cadetblue;
$lt: rgb(243, 243, 243);
$md: rgba(95, 158, 160, 0.315);
$dk:rgba(124, 229, 233, 0.11);



// @import url('https://fonts.googleapis.com/css?family=Rubik:300&display=swap');
@font-face {
    font-family: 'GT Walsheim';
    src: url("../fonts/GT Walsheim Regular.ttf") format('truetype');
}



html, body {
    font-family: Arial, Helvetica, sans-serif , sans-serif;;
    font-weight: 200;
    background: rgb(245, 245, 245);
    margin: 0;
    
    //height: 100%;
    
}
.bg{
    

    width: 100%;
    height: 100%;

    background:



    // top-left-corner
    radial-gradient(
        circle at right bottom,
        rgba(0,0,0,0) 80%,
        $md 80%
    ),
    // middle + bottom-right
    radial-gradient(
        farthest-corner at 0% -20%,
        $lt 68%,
        $dk 68%)
    $dk; // background



    position: static;
    //background-repeat: no-repeat;
    background-attachment: fixed;
}


::-webkit-scrollbar {
    width: 20px;
}


/* Track */
::-webkit-scrollbar-track {
   
    border-radius: 5px;
    background: #fff;

    border-left: 9px solid white;
    border-right: 10px solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // 
    
    border-radius: 5px;
    background: cadetblue; 
    
    border-left: 7px solid white;
    border-right: 7px solid white;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: $primaryColor; 
// }


@mixin onHoverScroll($color,$trackColor){
    &:hover {

        &::-webkit-scrollbar-thumb {
          background: cadetblue; 
          
          border-radius: 5px;
      
          
          border-left: 7px solid $color;
          border-right: 7px solid $color;
      }
  
      }
  
      &::-webkit-scrollbar {
        width: 21px;
    }
    
    
    /* Track */
    &::-webkit-scrollbar-track {
       
        border-radius: 5px;
        background:$trackColor;
    
        border-left: 10px solid $color;
        border-right: 10px solid $color;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(95, 158, 160,0); 
        
        border-radius: 5px;
    
        
        border-left: 7px solid $color;
        border-right: 7px solid $color;
    }
    
}



/* Style the tab */

.tab {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    //background-color: transparent;
	box-shadow: 0 5px 20px rgba(3, 27, 78, .1);
}

@media only screen and (max-width: 700px) {
    .tab {
        justify-content: center;
    }
}

/* Style the buttons inside the tab */
.tab {
    button{
        width: 120px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
}

/* Change background color of buttons on hover */
.tab {
    button:hover{
        background-color: $primaryColor;
        color: white;
        transition: 0.2s;
    }
    .active{
        background-color: $primaryColor;
        color: white;
    }
}



/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    position: relative;
    background-color: transparent;

   
}




